<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <tr>
    <a href="/logout">ログアウト</a>
  </tr>
  <h1>Lec02 GET!!</h1>

  <div th:if="${entry}">
    エントリー
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>


  <div th:if="${name}">
    <p>Hi [[${name}]]</p>
  </div>
  <tr>
    <a href="/sample22/2">ぐー</a>
    <a href="/sample22/1">ちょき</a>
    <a href="/sample22/3">ぱー</a>
  </tr>
  <div th:if="${YourHand}">
    <p>あなたの手 [[${YourHand}]]</p>
    <p>相手の手 Gu</p>
    <p>結果：[[${Result}]]</p>
  </div>

</body>

</html>
