<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Wait</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/step8');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event.data);
        var abody = document.getElementById("match");
        var txt = "結果を見る";
        abody.innerHTML = txt;
      }
    }
  </script>
</head>

<body>

  <div><b>相手の手を待っています</b></div>
  <div th:if="${user}">
    <p>Hi [[${user.name}]]</p>
  </div>

  <div>
    <a id="match" th:href="@{/lec02/step2(param1=1)}"></a>
  </div>

</body>

</html>
